{% extends 'users/admin_layout.html'  %}
{% block main %}
<body>
    <div class="d-felx">
     
        <div class="container mt-5">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Create a New Work Order</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                <div class="mb-3 col-md-6">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <div class="form-text">{{ field.help_text }}</div>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-danger">Create Work Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Your work orders</h4>
                </div>
                <div class="card-body">
                    <ul>
                        {% for order in orders %}
                        <li>
                            <strong>{{ order.machine_id }}</strong>  | {{ order.assigned_user }}| {{order.description}} |{{ order.time_of_default }}
                                
                              <!-- In an AJAX implementation, this link could trigger a modal load -->
                        </li>
                        {% empty %}
                            <li>No work orders available.</li>
                        {% endfor %}
                    </ul>
       
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}