{% extends 'users/admin_layout.html' %}

{% block main %}
<div class="container mt-4">
    <h2 class="text-center">Intevention History</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" id="search" class="form-control" placeholder="Search ...">
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table">
            <tr>
                <th>Date</th>
                <th>ID</th>
                <th>User</th>
                <th>Category</th>
                <th>Default (What)</th>
                <th>Default (Why)</th>
                <th>Default (Where)</th>
                <th>Spare parts</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody id="table">
            {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.received_date|date:"d/m/Y H:i" }}</td>
                <td>{{ intervention.technicien}}</td>
                <td>{{ intervention.technicien.first_name}}</td>
                <td>{{ intervention.get_fault_category_display }}</td>
                <td>{{ intervention.fault_what }}</td>
                <td>{{ intervention.fault_why }}</td>
                <td>{{ intervention.fault_where }}</td>
              
                {%if intervention.spare_parts%}
                <td>{{ intervention.spare_parts }}</td>
                {% else %}
                <td>No used spare parts</td>
                {% endif %}
                
                <td>{{ intervention.comments }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">No Intervention Saved.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script>
    $(document).ready(function () {
        // Search Functionality
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        // Sorting
        $(".sort").click(function () {
            var table = $("table tbody");
            var rows = table.find("tr").toArray().sort((a, b) => {
                var textA = $(a).find("td:nth-child(2)").text();
                var textB = $(b).find("td:nth-child(2)").text();
                return textA.localeCompare(textB);
            });
            table.append(rows);
        });
    });
</script>
{% endblock %}