body {
    background-color: #054e97;
}

.card {
    border-radius: 20px;
    height: 300px;
    width: 400px; 
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 20px;
    margin-top: 10px;
}

.btn-danger:hover {
    background-color: #bc4040;
}

.form-control {
    border-radius: 20px;
    margin-top: 10px;
}
.alert {
    display: none; /* Hidden by default */
}

.alert:has(p) {
    display: block; /* Show if there's content inside */
}     