@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #e3e3e3, #cfcfcf);
    margin: 0;
}

.login-box {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.mini_logo img {
    max-width: 5%;
}
.logo  img{
    width: 100%;
}
.input-box .input-field {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border 0.3s;
}

.input-field:focus {
    border: 1px solid #c45f5f;
    box-shadow: 0 0 8px rgba(196, 95, 95, 0.3);
}

.input-submit {
    margin-top: 20px;
}

.submit-btn {
    width: 100%;
    height: 50px;
    background: #c45f5f;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.submit-btn:hover {
    background: #9f3b3b;
    transform: scale(1.03);
}



footer {
    margin-top: 40px;
    padding: 20px;
    background: #f3f3f3;
    width:100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer section {
    max-width: 800px;
    margin: auto;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

footer p {
    margin: 8px 0;
    font-size: 15px;
    color: #555;
}



